@font-face {
    font-family: Pixel;
    src: url('fonts/SynthPixel-R922e.ttf') format('truetype');
}
@font-face {
    font-family: pixy;
    src: url('fonts/pixy.ttf') format('truetype');}
body {
    font-family: Pixel, 'Arial Narrow', Arial, sans-serif;
    background-image: url('images/citybg.jpg');
    overflow: hidden;
}
h1 {
    color: #f55cf0;
    font-size: 7em;
    display: block;
    padding-left: 120px;
}
h2 {
    font-weight: normal;
    color: #01BAEF;
    font-size: 1.3em;
    letter-spacing: -1.2px;
    font-family: pixy, 'Arial Narrow', Arial, sans-serif;
    border: 1px solid #01BAEF;
    padding: 0.3em;
    border-radius: 10px;
    text-align: center;
}
p {
    text-indent: 1.5em;
    line-height: 1.3em;
    letter-spacing: -2px;
    color: #0CBABA;
    font-size: 1em;
    font-family: pixy, 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 2.6em;
}
footer p {
    color: #c9abab;
}
footer {
    text-align: center;
    font-size: 0.9em;
    margin-top: 4em;
    margin-left: 54em;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.781);
    border-radius: 5px;
}
main {
    margin-top: 4em;
    width: 950px;
}
.top {
    width: 500px;
    height: 500px;
    position: relative;
    animation: float 3s ease-in-out infinite;
    background-image: url('images/billboard.png');
    background-repeat: no-repeat;
    background-size: 28em;
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
.container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr 1fr;
}