@font-face {
    font-family: Pixel;
    src: url('fonts/SynthPixel-R922e.ttf') format('truetype');
}
body {
    font-family: Pixel, 'Arial Narrow', Arial, sans-serif;
    background-image: url('images/citybg.jpg');
}
h1 {
    font-weight: normal;
    color: #f55cf0;
}
h2 {
    font-weight: normal;
    color: #01BAEF
}
p {
    color: #0CBABA;
}

